        body{
            font-size: 1.6rem;
            font-family: Candara, Trebuchet MS, Arial, Sans-serif;
            background: radial-gradient(white, white, white, grey);
        }
        *{
            box-sizing: border-box;
        }
        .container{
            max-width: 900px;
            width: 100%;
            margin: 25px auto;
            padding: 15px;
        }
        img{
            max-width: 100%;
            display: block;
            margin: 10px auto;
        }
h1 {
            text-align: center;
font-size: 7rem;
        margin-top: 2px;
        margin-bottom: 2px;
}

#signupFormCopy p {
 text-align: center;
 font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
	background: $background
}

#stickyFooter {
    position: fixed;
    width: 599px;
    height: 103px;
    z-index: 15;
    top: 108%;
    left: 41%;
    margin: -100px 0 0 -150px;
    background: black;
    color: white;
    padding: 9px;
    border-radius: 20px;
    border: 1px solid grey;
	display: none;
}

#stickyFooter a {
color: grey;
text-decoration: none;	
}
