        body{
            font-size: 1.6rem;
            font-family: Candara, Trebuchet MS, Arial, Sans-serif;
            background: radial-gradient(white, white, white, grey);
        }
        *{
            box-sizing: border-box;
        }
        .container{
            max-width: 900px;
            width: 100%;
            margin: 25px auto;
            padding: 15px;
        }
        img{
            max-width: 100%;
            display: block;
            margin: 10px auto;
        }
h1 {
            text-align: center;
font-size: 7rem;
        margin-top: 2px;
        margin-bottom: 2px;
}

#signupFormCopy p {
 text-align: center;
 font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

