        body {
          font-size: 1.6rem;
          font-family: Candara, Trebuchet MS, Arial, Sans-serif;
          background: radial-gradient(white, white, white, grey);
        }

        * {
          box-sizing: border-box;
        }

        .container {
          max-width: 900px;
          width: 100%;
          margin: 25px auto;
          padding: 15px;
        }

        img {
          max-width: 100%;
          display: block;
          margin: 10px auto;
        }

        h1 {
          text-align: center;
          font-size: 7rem;
          margin-top: 2px;
          margin-bottom: 2px;
        }

        #signupFormCopy p {
          text-align: center;
          font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        }

        #particles-js {
          position: absolute;
          width: 100%;
          height: 100%;
          background: $background
        }

        #stickyFooter {
          position: fixed;
          width: 20%;
          left: 0;
          bottom: 0;
          background-color: black;
          color: white;
          padding: 9px;
          border: 1px solid grey;
          text-align: center;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 1px;
          border-bottom-left-radius: 1px;
          display: none;
        }

        #stickyFooter a {
          color: grey;
          text-decoration: none;
        }

#shirtWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	clear: both;
}

#classic, #colourful {
    width: 300px;
    height: auto;
    transition: all 1s;
    margin: 30px;
	z-index: 10;

}

#classic:hover, #colourful:hover {
	transform: scale(1.1);
}

 #mc_embed_signup{
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
	 width:100%;
}

#mc_embed_signup_scroll > label {
	    font-size: 2rem;
}

hr {
	    box-shadow: 1px 1px 1px 1px;
}

#particles-js {
	z-index: -1;
}
